/* ====================Navbar_style============= */

.a {
  color: white;
}
.b {
  background-color: #3178c6;
}

/* dashboard  */
.p {
  background-color: black;
}
.d {
  font-weight: bolder;
  font-size: 20px;
  text-transform: capitalize;
  color: goldenrod;
  margin: 10px 0;
}
.d:hover {
  color: green;
}

/* ======Navbar_end======== */
.e{
  background-color: #3178c6;
  color: white;
}


/* Main  */
.bgMain {
  /* background-image: url("https://flat-icons.com/wp-content/uploads/edd/2017/11/10-animated-gif-icons-preview-3.jpg"); */
  background-image: url("https://images-cdn.newscred.com/Zz04NjA3ZjljMjQ0ODkxMWViOWRjYzU1OGJkNjI1ZjVkZA==");
}


/* Computer Details Style */
.cp{
  border: 2px solid grey;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all ease-in;
  background-color: aquamarine;
  color: black;
}

.c{
  background-color: #3178c6;
  color: white;
}





/* ======================== 


*/